## Python Basics

#### Print Statement

In [1]:
# A simple print statement is 
print ('hello world') #whatever message you want to print is given in quotes (single/double)
# if you want to print the varible value, pass the name of the variable without any quotes
print_ = 'python demo' #print_ is a varibale having value 'python demo'
print (print_)

hello world
python demo

#### Pyhton Variables and Keywords:

Keywords are python specific words which has specific meaning to python interpreter. for eg (True, False, None, if, else, elif, def , for, while etc)

Variables defines the memory location where any value assigned to the variable can be stored.

Variable name can start with [A-z], [a-z] followed by digits [0-9] and underscore.
Digits can't be starting of the name.
And no special characters are allowed for naming the varaiable

Basically there are 3 types of literals in python

1) Numeric  2) String  3) Boolean

Numeric Literals can be either integers, float or complex

##### Numeric Literals

In [0]:
x = 12 # stores an integer value
type (x) #type(): use to check type of the value that is stored

int

In [0]:
x = 12.5 #stores a decimal value
type(x)
# In above eg we have used x to store 12 and here also we used the same x to store value 12.5, hence the variable value 
# is now modified to 12.5

float

In [0]:
#In python we store complex values as a+bj
comp_ = 3+4j
type(comp_)

complex

##### Numeric Operators:

In [0]:
#Arithmatic Operators: (+,-,*,/,//,%)
print (3+4) #addition
print (5-2) #Subtraction
print (6*2) #Multiplication
print (8/4) #Division
print (10//3) #Floor division (quotient is rounded off to nearest integer)
print (14%3) #Returns the remainder of the division

7
3
12
2.0
3
2

In [0]:
#comparision operators:
#comparision operators compare the two values and return boolean (True and False)
a = 9
b = 3
print (a > b) #greater then
print (a < b) #less then
print (a >= b) #greater then equal to
print (a <= b) #less then equal to
print (a != b) #Not equals to
print (a == b) #equals to

True
False
True
False
True
False

In [0]:
# Assignment Operators:
# it assigns the value to whatever variable on the left side
a = 5 #assigning value to variable a
b = 6 #assigning value to variable b
a += b #assigning value to a after addition of b to it
print (a)
#Similarly we have a-=b , a*=b , a/=b, a//=b and a%=b

11

In [2]:
#Logical operators: (and, or, not)
#and returns true when all conditions with and are true for eg:
a = 5
b = 6 
c = 'demo'
print (a!=b and c=='demo') #since both conditions are True it returns True
print (a==b and c=='demo') #since one condition is false it returns False
#or return true if any of the conditions given is True for eg:
print (a==b or c=='demo') #since any of the conditions given is true it returns true
#not returns the inverse of true or false for eg
print (not(True)) #inverse of true is false

True
False
True
False

#### Operator precedence:

In [0]:
#In a given sequence of Expression operator precedence will be as follows:
** #exponent
*, /, //, % #multiply, divide, floor division, modulous
+, - #Addition and subtraction
<=, <, >, >= #comparison operators
=, %=, /=, //=, -=,+=, *=, **= # Assignment operators
and or not # Logical operators

#### String Operators:

In [0]:
a='Python is top most programming language'

In [0]:
a.lower()

'python is top most programming language'

In [0]:
a.upper()

'PYTHON IS TOP MOST PROGRAMMING LANGUAGE'

In [0]:
lower()

In [5]:
#A string is simply defined in single quotes or double quotes as follows: 
x = '   This is a demo string to show string operations    '
print (x.lower()) #Converts string to lower case
print (x.upper()) #converts string to upper case
x.lstrip() #remove unwanted spaces from the left side

   this is a demo string to show string operations
   THIS IS A DEMO STRING TO SHOW STRING OPERATIONS

'This is a demo string to show string operations    '

In [0]:
x.rstrip() #remove unwanted spaces from the right side

'   This is a demo string to show string operations'

In [0]:
x.strip() #rmove unwanted spaces from both the sides

'This is a demo string to show string operations'

In [0]:
print (x.startswith('  ')) #checks whether the string starts with given initials and return boolean
print (x.endswith(' ')) #checks whether string ends with given initials and return boolean

True
True

In [0]:
x.find('demo') #finds the given string in the whole string and returns its starting index

13

In [0]:
x.count('string') #counts the number of appeareances of a given string

2

In [0]:
x.replace('demo','actual') #replaces old string with the new string

'   This is a actual string to show string operations    '

In [0]:
p = x.split() #split the give string and returns a list

In [7]:
p

['This', 'is', 'a', 'demo', 'string', 'to', 'show', 'string', 'operations']

In [0]:
'/'.join(p) #joins the splittede  elements by the delimiter given

'This/is/a/demo/string/to/show/string/operations'

In [8]:
#Slicing: (Start:stop:step)
#Gives a part of a string it takes three values, bascially the start is the starting point of the string (default is index 0 )
#Stop is the ending point of part if not given default is the last of the string
#value of step by default is 1
y = 'This is a demo string to show string operations'
#    0123456789
print (y[0:])
print (y[0:5])
print (y[-10:])
print (y[::-1])

This is a demo string to show string operations
This
operations
snoitarepo gnirts wohs ot gnirts omed a si sihT

#### Comments in python

In [0]:
#In python comments are given by # and ''' '''.
#for single line comment we use (#)
#for multi-line comments we use (''' ''')
#Comments are generally given to add some message with the code. Comments are not executed during execution of the code

###### Practise Questions:

In [0]:
# print the result of 10 + 5
# calculate the percentage 20 / 25

# for string 'I am learning python'
## convert whole string to upper case
## find the index of the start of 'python'
## count the number of occurance of 'python'
## split the string with spaces.
## join the above string (splited) with '/'
## slice only the 'python' part

In [0]:
x = 'I am learning python'
x.upper()
x.find('python')
x.count('python')
z = x.split(' ')
'/'.join(z)
x[-6:]

'python'