In [1]:
# all of the following are equivalent
my_string = 'Hello1'
print(my_string)

my_string = "Hello2"
print(my_string)

my_string = '''Hello3'''
print(my_string)

# triple quotes string can extend multiple lines
my_string = """Hello4, welcome to
           the world of Python"""
print(my_string)

Hello1
Hello2
Hello3
Hello4, welcome to
           the world of Python

In [2]:
str = ' data science class has started ... seems like confusing'

In [3]:
str[0]

' '

In [5]:
len(str)

56

In [6]:
# access characters in a string
# index must be in range
my_string[150]

IndexError: string index out of range

In [4]:
# index must be an integer
my_string[1.5]

TypeError: string indices must be integers

In [5]:
# change or delete a string
# Strings are immutable. This means that elements of a string cannot be 
# changed once it has been assigned.

In [3]:
my_string = 'programiz'
my_string[5] = 'a'

TypeError: 'str' object does not support item assignment

In [4]:
my_string[5]

'a'

In [5]:
my_string = 'Python'

In [6]:
del my_string

In [7]:
# concatenation
str1 = 'Hello '
str2 ='World !'

# using +
print('str1 + str2 = ', str1 + str2)

# using *
print('str1 * 3 =', str1 * 3)

str1 + str2 =  Hello World !
str1 * 3 = Hello Hello Hello

In [8]:
# iterating
count = 0
for letter in 'Hello World how r you':
    count += 1 
    #count = count + 1
    
print(count,'letters found')

21 letters found

In [9]:
my_string = " Hello How are you"

'are' in my_string

True

In [10]:
'Hello' in my_string

True

In [22]:
i = 0
i = i + 1

In [23]:
i

1

In [15]:
# Python String Formatting
print("He said, "What's there?"")

SyntaxError: invalid syntax (<ipython-input-15-7f0a898040f0>, line 2)

In [11]:
print("He said, \"What\'s there?\"")

He said, "What's there?"

In [12]:
# default(implicit) order
default_order = "{}, {} and {}".format('John','Bill','Sean')
print('\n--- Default Order ---')
print(default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('John','Bill','Sean')
print('\n--- Positional Order ---')
print(positional_order)

# order using keyword argument
keyword_order = "{s1}, {b1} and {j1}".format(j1='John',b1='Bill',s1='Sean')
print('\n--- Keyword Order ---')
print(keyword_order)

--- Default Order ---
John, Bill and Sean

--- Positional Order ---
Bill, John and Sean

--- Keyword Order ---
Sean, Bill and John

In [20]:
# float formatting

%10.2

a = 10.76
b = 220.5666666
print("Two float numbers : {} & {}".format(a, b))
print("Two float numbers : {:.2f} & {:.2f}".format(a, b))
print("Two float numbers : {:.2f} & {:10.2f}".format(a, b))

ERROR:root:Line magic function `%10.2` not found.

Two float numbers : 10.76 & 220.5666666
Two float numbers : 10.76 & 220.57
Two float numbers : 10.76 &     220.57

In [17]:
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [28]:
name = "Rajendra Singh"
print("Hello, {}".format( name))

Hello, Rajendra Singh

In [31]:
name = "Rajendra Singh"
print("Hello, {0}".format( name))

Hello, Rajendra Singh

In [37]:
name = "Rajendra Singh"
print("Hello, {0:5s}".format(name))

Hello, Rajendra Singh

In [38]:
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [39]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [40]:
data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello John Doe. Your current balance is $53.44.

In [68]:
# default arguments
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

# positional arguments
print("Hello {0}, your balance is {1}.".format("Adam", 230.2346))

# keyword arguments
print("Hello {name}, your balance is {blc}.".format(name="Adam", blc=230.2346))

# mixed arguments
print("Hello {0}, your balance is {blc}.".format("Adam", blc=230.2346))

Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.
Hello Adam, your balance is 230.2346.

In [69]:
# integer arguments
print("The number is: {:d}".format(123))

# float arguments
print("The float number is: {:f}".format(123.4567898))

# octal, binary and hexadecimal format
print("bin: {0:b}, oct: {0:o}, hex: {0:x}".format(12))

The number is: 123
The float number is: 123.456790
bin: 1100, oct: 14, hex: c

In [70]:
# integer numbers with minimum width
print("{:5d}".format(12))

# width doesn't work for numbers longer than padding
print("{:6d}".format(1234))

# padding for float numbers
print("Hello the number is {:8.2f}".format(12.2346))

# integer numbers with minimum width filled with zeros
print("{:05d}".format(12))

# padding for float numbers filled with zeros
print("{:08.2f}".format(12.2346))

   12
  1234
Hello the number is    12.23
00012
00012.23

In [71]:
# show the + sign
print("{:+10.2f} {:+10.2f}".format(12.23, -12.23))

# show the - sign only
print("{:-10.2f} {:-10.2f}".format(12.23, -12.23))

# show space for + sign
print("{: f} {: f}".format(12.23, -12.23))

    +12.23     -12.23
     12.23     -12.23
 12.230000 -12.230000

In [72]:
# string padding with left alignment
print("{:5}".format("cat"))

# string padding with right alignment
print("{:>5}".format("cat"))

# string padding with center alignment
print("{:^5}".format("cat"))

# string padding with center alignment
# and '*' padding character
print("{:*^7}".format("cat"))

cat
  cat
 cat
**cat**

In [49]:
s = 'kfkfkfffffffffffffffffff'
s[:5]

'kfkfk'